@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tweetFeedWrapper {
    padding: 0;
    border-top-style: solid;
    border-top-color: rgb(235, 238, 240);
    border-top-width: 1px;
    width: 100%;
}

.tweetWrapper {
    margin: 0;
    padding: 1rem;
    border-style: solid;
    border-color: rgb(235, 238, 240);
    border-width: 1px;
    border-top-width: 0px;
    display: flex;
    flex-direction: row;
}

.profilePictureWrapper {
    flex-grow: 0;
    margin: 0;
    padding: 0;
    margin-right: 12px;
}

.innerProfilePictureWrapper {
    flex-basis: auto;
    border-radius: 9999px;
    overflow: hidden;
    width: 48px;
    height: 48px;
}

.profilePicture {
    object-fit: cover;
    width: 48px;
    height: 48px;
}

.tweetPicture {
    object-fit: contain;
    max-width: 400px;
    max-height: 400px;
}

.tweetContentWrapper {
    flex-grow: 1;
}

.usernameWrapper {
    margin-bottom: 0.5em;
}

.usernameText {
    font-weight: bold;
    margin: 0;
}

.messageWrapper {
    display: inline-block;
}

.messageText {
    margin-top: 0.5em;
}

.commentsWrapper {
    margin: 0;
    margin-left: 1rem;
}

.commentsTitle {
    margin: 0;
}

.line {
    background-color: black;
    height: 1px;
}

.toggleText {
    font-size: 0.75rem;
    color: #0d669e;
}

.toggleText:hover {
    cursor: pointer;
    text-decoration: underline;
}

.InputStyle {
    outline: none;
    font-size: 1em;
    border: 2px solid rgb(196, 207, 214);
    border-radius: 4px;
    margin: 0;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
}

.InputStyle:focus {
    outline: none;
    border: 2px solid rgb(29,161,242);
}

textarea.InputStyle {
    resize: none;
}

.inputLabel {
    margin: 0;
    margin-bottom: 3px;
    font-size: 16px;
    text-align: left;
}

.inputWrapper {
    margin: 1rem;
}

.formWrapper {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
  display: inline-block;
  border-radius: 6px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 15rem;
  background: rgb(29,161,242);
  color: white;
  border: 2px solid rgb(29,161,242);
  cursor: pointer;
  text-align: center;  
}

.button:hover {
  background: #1b95e0;
}

.leftbar {
    width: 275px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.leftbarwrapper {
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column
}

.leftbarinner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
}

.rightbar {
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: flex-start
}

.commentSectionWrapper {
    margin: 0;
    margin-top: 1rem;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0 !important;
    margin: 0;
}

.left {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 33.33%;
    flex-shrink: 1;
}

.middle {
    width: 600px;
    flex-grow: 0;
    flex-shrink: 0;
}

.right {
    flex-basis: 33.33%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    flex-direction: row;
}

.rightinner {
    margin: 0;
    display: flex;
}

.SignInBoxWrapper {
    margin-top: 1em;
    border-style: solid;
    border-color: rgb(235, 238, 240);
    border-width: 1px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

.linkWrapper {
    margin: 0;
    margin-bottom: 1rem;
}

.modalline {
    border: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #dcdfe0;
    margin: 0;
    padding: 0;
}

.commentline {
    border: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #c3c6c7;
    margin: 0;
    padding: 0;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

.commenttext {
    font-size: 14px;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.commentuser {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.logo {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
}

.logowrapper {
    margin: 0;
}

.logoinner {
    margin: 0;
    float: left;
    margin-left: 3rem;
}

.modalWrapper {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tweetModalInner {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    margin: 0;
    margin-bottom: 2rem;
}

.profileInnerWrapper {
    border-radius: 9999px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex-basis: auto;
}

.profilepic {
    object-fit: cover;
    width: 48px;
    height: 48px;
}

.tweetButtonWrapper {
    margin: 1rem 0;
    margin-bottom: 0;
}

.profileWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profileNameWrapper {
    margin: 0;
    margin-left: 0.5rem;
}

.profileNameText {
    font-weight: bold;
}

.badgeIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.badgeIconWrapper:hover {
    cursor: pointer;
    background-color: rgb(238, 240, 241);
}

.badgeIconInner {
    margin: 0;
    margin-left: 2px;
}

.badgeWrapper {
    margin: 0;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-align: center;
    height: 1.5rem;
    border-radius: 5px;
    display: inline-block;
}

.badgeIconWrapper {
    display: flex;
    width: 70px;
}

.badgeTextWrapper {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.badgeWrapper:hover {
    cursor: pointer;
}

.badgeWrapperInner {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    top: 49%;
    transform: translateY(-50%);
}

.badgeText {
    margin: 0;
    color: white;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.red {
    background-color: #ff4200;
}

.red:hover {
    background-color: #e24007;
}

.blue {
    background-color: rgb(29,161,242);
}

.blue:hover {
    background-color: #1b95e0;
}

.lightblue {
    background-color: #3fd7fc;
    border-color: #3ac6e8;
}

.lightblue:hover {
    background-color: #3ac6e8;
}

.addCommentWrapper {
    margin: 0;
    float: right;
}

.accountBadgeWrapper {
    margin: 0;
    float: right;
    margin-top: 1rem;
}

.errortext {
    color: red;
}
.smallScreenProfileOptionsWrapper {
    display: none;
}

.trendingWord {
    text-align: left;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: bold;
}

.trendingWordUses {
    text-align: left;
    margin: 0;
    margin-left: 1.25rem;
    font-size: 14px;
    padding-bottom: 1rem;
}

.greyModal {
    background-color: rgb(247, 249, 250);
}

.greyModalDiv:hover {
    background-color: rgb(232 234 235);
    cursor: pointer;
}

.lefttop {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.homeButtonWrapper {
    margin: 0;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: 3rem;
    cursor: pointer;
}

.homeButtonText {
    margin: 0;
    font-size: 22px;
    margin-left: 1rem;
    font-weight: bold;
}

.tweetLoadingWrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .Container {
        align-items: center;
        justify-content: center;
    }


    .rightinner {
      width: 100%;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      align-items: center;
    }

  .tweetFeedWrapper {
      margin: 0;
  }
  .rightbar {
      display: none;
      flex-grow: 0;
  }
  .tweetPicture {
    object-fit: contain;
    max-width: 75%;
    max-height: 75%;
  }

  .smallScreenProfileOptionsWrapper {
    display: flex;
    margin: 0;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  .SignInBoxWrapper {
    display: block;
    margin-top: 1em;
    border-style: solid;
    border-color: rgb(235, 238, 240);
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(247, 249, 250);
    }

    .profileContainer {
        margin: 0;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .accountBadgeWrapper {
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .profileWrapper {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30vh;
    }

    .iconusernamewrapper {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .tweetButtonWrapper {
    }

    .badgeWrapper {
        margin-left: 0;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 635px) {
    .tweetFeedWrapper {
      width: 100%;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }

  .tweetPicture {
    max-width: 60vw;
    max-height: 60vw;
  }

  .tweetWrapper {
      padding: 0.5rem;
  }

  .smallScreenProfileOptionsWrapper {
      width: 90%;
  }

}
